.skip{
    background: white;
    color: #5E5DF0;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    z-index: 1;
  }
  
  .skip:focus{
  /*Add the selector and rule to move the skip link to the exact top.*/
    top: 0px;
  }

/*Typewriter effect on top */
.typewriter {
    color: #5E5DF0;
    font-size: 24pt;
  }
  
  .navbar-light .navbar-brand{
      color:#5E5DF0;
  }

  .navbar-light .navbar-nav .active>.nav-link{
    text-decoration: underline;
    color: #5E5DF0;
}


.navbar-light .navbar-nav .nav-link{
    color: rgb(82, 82, 82);
}


.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link:focus{
    text-decoration: underline;
}


body{
    font-family: 'Open Sans', sans-serif;
}

main{
    margin: 0px 30px;
}

a.button-34 {
    background: #5E5DF0;
    border-radius: 50px;
    box-sizing: border-box;
    color: #FFFFFF !important; 
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin-bottom: 20px;
  }

.button-34:hover{
    background: #4b4bd8;
}

.button-34:focus{
    background: #4b4bd8;
}

.button-flex{
    margin-bottom: 25px;
}

.button-flex .button-34{
    margin-right: 5px;
}

h1, h2, .color-bold{
    color: #5E5DF0;
    font-weight: 400;
}

h1{
    padding: 20px 0px 5px 0px;
}

h2{
    font-size: 24pt;
}

h3{
    font-weight: 400;
}


footer{
    text-align: center;
    background-color: #5E5DF0;
    color: white;
    padding: 20px 0px 10px 0px;
}

.img-border{
    border: 1px solid gray;
}

.bold{
    font-family: 'Open Sans';
    font-weight: 800;
}

/* Styling for the main page */
.main-img{
    border-radius: 10px;
}

.headshot{
    width: 100%;
    text-align: center;
}

.headshot img{
    width: 95%;
    max-width: 400px;
    margin: 10px auto;
}

.icon{
    width: 30px;
    height: auto;
    margin: 10px 5px 5px 5px;
}

.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-main{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 40px 0px 30px 0px;
}

.project-main img{
    width: 80%;
}

.main-project-info{
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Hover cards code */
.hover-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    margin: 0px auto 30px auto;
}

.hover-grid img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.hover-card{
    position: relative;
    overflow: hidden;
}

.hover-card:hover .image-info{
    opacity: 1;
    transform: scale(1);
}

.hover-grid a:focus .image-info{
    opacity: 1;
    transform: scale(1);
}

.image-info{
    position: absolute;
    /* background-color: rgba(255,255,255,.8); */
    background-color: rgba(94, 93, 240, .8);
    width: 100%;
    height: 100%;
    bottom: 0;
    transform: scale(1.3);
    opacity: 0;
    transition: transform .4s ease 0s;
}

.image-info-text{
    position: absolute;
    top: 35%;
    left: 20px;
}

.image-info-text h2{
    /* color: black; */
    color: white;
    font-size: 22pt;
}

.image-info-text p{
    /* color: black; */
    color: white;
    margin-bottom: 0px;
}

/* Styling for UMEB page or maybe the project template*/

.project-page-header{
    text-align: center;
}

.project-page-header img{
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

.project-page-main{
    margin-top: 70px;
    margin-left: 5%;
    margin-right: 5%;
}

/*.project-page-main h2{
    text-align: center;
}*/

.project-desc{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 40px;
    margin-bottom: 10px;
}

.project-small-div{
    margin: 30px 0px;
}

.project-timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.project-timeline img{
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
}

.cyber-timeline img{
    width: 90%;
    max-width: 800px;
}

a.button-33 {
    background: #5E5DF0;
    border-radius: 50px;
    box-sizing: border-box;
    color: #FFFFFF !important; 
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 30% 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.button-33:hover{
    background: #4b4bd8;
}

.button-33:focus{
    background: #4b4bd8;
    text-decoration: underline;
}

.button-center{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.full-width{
    width: 100%;
}

.button-flex{
    margin-top: 35px;
    text-align: center;
}

.wireframes-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wireframes-flex img{
    width: 175px;
    height: auto;
    margin: 10px;
    border: 1px solid black;
}

.larger-img-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.larger-img-flex img{
    width: 300px;
    height: auto;
    margin: 10px;
    border: 1px solid black;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* This is for the image carousel on the umeb page */
.d-block{
    height: 180px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.carousel-item{
    text-align: center;
    text-align: -webkit-center;
}

.carousel-indicators{
    margin-bottom: 0px;
}

/* Cyberclass styling */

.figma-prototype{
    width: 90%;
    height: 450px;
    max-width: 600px;
    margin-bottom: 15px;
}

.title-and-logo img{
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.ca-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.ca-child h3{
    text-align: center;
}

.small-div-list ul{
    padding-left: 20px;
}

.small-div-list{
    background-color: rgb(241, 241, 241);
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.img-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-flex img{
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 15px 0px 15px 0px;
}

.prototype-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.prototype-flex video{
    width: 100%;
    height: auto;
    max-width: 500px;
}

.prototype-flex img{
    width: 100%;
    height: auto;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prototype-flex iframe{
    width: 100%;
    min-height: 300px;
    height: auto;
    max-width: 500px;
    background-color: black;
}

.prototype-stack{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
}

.ytp-title-link{
    background-color: black;
}



.flex-img{
    margin-top: 20px;
}

.extra-spacing{
    margin-top: 30px;
    margin-bottom: 60px;
}

/* For the about page */
.about-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-header-text h1{
    text-align: center;
}

.about-header-text h2{
    font-size: 16pt;
}

.about-headshot{
    width: 100%;
    text-align: center;
}

.about-headshot img{
    width: 95%;
    max-width: 400px;
    margin: 10px auto;
}

.about-page{
    margin-top: 30px;
}


.about-page h2{
    text-align: center;
}

.job{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.job-text{
    text-align: center;
}

.job img{
    width: 90%;
    border-radius: 10px;
}

.margin-bottom{
    margin-bottom: 15px;
}

.margin-top{
    margin-top: 20px;
}

hr{
    margin-bottom: 5px;
    margin-top: 5px;
}

.leadership-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.leadership-text{
    text-align: center;
}

.leadership-div h2{
    color: #212529;
    font-size: 22pt;
    margin-bottom: 5px;
}

.leadership-div img{
    width: 90%;
    border-radius: 10px;
}

.leader-header{
    margin-bottom: 0px;
    text-align: center;
}

/* For other projects page */
.other-main>h2{
    text-align: center;
}

.other-main{
    margin-top: 0px;
}

#large-mockup{
    display: none;
}

.img-flex-child{
    margin-top: 20px;
}

.img-flex-child h4{
    text-align: center;
    margin-bottom: 0px;
}

.small-width, .other-hr{
    margin-left: 5%;
    margin-right: 5%;
}

.other-hr{
    margin: 40px 5%;
}

/* For the dropdown menus */

/* Dropdown Button */
.dropbtn {
    background-color: #5E5DF0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #4b4bd8;
    text-decoration: underline;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: block;
    width: 100%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: inherit;
    min-width: 160px;
    z-index: 1;
  }

  .show {display:inherit;}

  .dropdown-center{
    display: flex;
    justify-content: center;
  }

  /* More styling for the JS */
  #dropdown-content1{
      display: none;
  }

  /* Dayly page */
  .dayly-prototype{
      zoom: 0.4;
      margin-top: 60px;
      height: 2000px;
      width: 1000px;
  }

  iframe .prototype--viewerContainer--JOiUY .prototype--viewerContainer--JOiUY{
      margin: 0px !important;
  }

  .prototype--background--DpPNr{
      background-color: white;
  }

  .full-img{
      width: 80%;
      margin-top: 30px;
  }

  .twocol-header{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .twocol-header img{
      width: 396px;
      height: 612px;
  }

  .wireframes-flex-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.wireframes-flex-2 img{
    width: 175px;
    height: auto;
    margin: 10px;
    border: 1px solid black;
}




@media screen and (min-width: 500px){
    /* For the carousel on the umeb page */
    .d-block{
        width: 100%;
        height: auto;
        max-width: 600px;
    }

    .carousel{
        max-width: 600px;
        margin: 40px auto 0px;
    }
}

@media screen and (min-width: 650px){
    .hover-grid{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        justify-items: center;
    width: 85%;
    margin: 0px auto 30px auto;
    }

    .image-info-text{
        position: absolute;
        top: 35%;
        left: 20px;
    }

}

@media screen and (min-width: 768px){
    .navbar-collapse{
        justify-content: flex-end;
      }

      .nav-item{
        margin: 0px 20px;
    }

    /* Main Page Styling */
    .main-header{
        flex-direction: row-reverse;
        justify-content: center;
        margin: 40px 0px;
    }

    .main-items{
        text-align: left;
        align-items: flex-start;
        width: 85%;
    }

    .headshot img{
        width: 300px;
        margin-right: 20px;
    }

    .project-main{
        flex-direction: row-reverse;
        justify-content: center;
        margin: 40px 0px 40px 0px;
    }

    .main-project-info{
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin-left: 30px;
        width: 600px;
    }

    .project-main img{
        width: 40%;
    }

    /* UMEB page and project template styling */
    .project-page-header img{
        height: 225px;
        width: 83%;
        object-fit: cover;
        object-position: top;
        overflow: hidden;
    }

    .project-desc{
        flex-direction: row;
        justify-content: center;
        text-align: left;
        margin-bottom: 30px;

    }

    .span-1{
        width: 40%;
    }

    .span-2{
        width: 40%;
        margin-left: 40px;
    }

    a.button-33{
        margin-top: 40px;
        padding: 12px 30% 14px;
        max-width: 400px;
    }

    .project-page-main{
        margin-top: 70px;
        margin-left: 7%;
        margin-right: 7%;
    }

    .wireframes-flex img{
        width: 150px;
    }

    /*Cyberclass design*/
    .ca-child{
        flex-direction: row;
        justify-content: center;
    }

    .title-and-logo img{
        width: 150px;
        height: auto;
    }

    .title-and-logo{
        margin-right: 20px;
    }

    .img-flex{
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .img-flex img{
        width: 300px;
        margin: 15px 15px 15px 15px;
    }

    /* For the about page */
    .about-header{
        flex-direction: row-reverse;
        justify-content: center;
        margin: 40px 0px;
    }

    .about-header h1{
        text-align: left;
    }

    .about-headshot{
        width: auto;
    }

    .about-headshot img{
        width: 300px;
        margin-right: 20px;
    }

    .job{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    
    .job-text{
        text-align: left;
        width: 600px;
        margin-left: 30px;
    }
    
    .job img{
        width: 40%;
    }

    .leader-header{
        margin-bottom: 20px;
    }

    .leadership-div{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    
    .leadership-text{
        text-align: left;
        width: 600px;
        margin-left: 30px;
    }

    .leadership-div h2{
        text-align: left;
    }
    
    .leadership-div img{
        width: 40%;
    }

    /* Other page */

    .skinny-flex img{
        width: 250px;
    }

    #small-mockup{
        display: none;
    }

    #large-mockup{
        display:inherit;
        width: 100%;
    }

    .small-width, .other-hr{
        margin-left: 7%;
        margin-right: 7%;
    }

    /* Dayly page */
    .twocol-header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        justify-items: center
      }
    
      .twocol-header img{
          height: 532px;
          width: auto;
          justify-self: end;
      }


      .dayly-prototype{
          margin-top: 50px;
          height: 1450px;
          width: 850px;
          justify-self: start;
      }


}

@media screen and (min-width: 1000px){
    .main-items{
        margin-left: 0px;
    }

    .headshot{
        width: 400px;
        justify-self: flex-end;
    }

    .about-headshot{
        width: 400px;
        justify-self: flex-end;
    }

    .headshot img{
        margin-right: 0px;
    }

    .about-headshot img{
        margin-right: 0px;
    }

    .main-header{
        justify-content: center;
    }

    .project-main img{
        width: 375px;
    }

    .hover-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }

    /* .image-info-text{
        position: absolute;
        top: 35%;
        left: 20px;
    } */

    /* Project template and UMEB page */
    .span-1{
        width: 30%;
    }

    .span-2{
        width: 30%;
        margin-left: 40px;
    }

    .project-small-div>p, .project-small-div>h2, .project-small-div>h3{
        margin-left: 10%;
        margin-right: 10%;
    }

    .wireframes-flex img{
        width: 150px;
    }

    /*Cyberclass Styling*/
    .ca-child{
        margin-left: 10%;
        margin-right: 10%;
    }

    .small-div-list{
        margin-left: 10%;
        margin-right: 10%;
    }

    .sketch-flex img{
        width: 375px;
    }

    .prototype-flex{
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .prototype-flex video{
        width: 50%;
        margin-right: 30px;
    }

    .prototype-flex img{
        width: 50%;
        margin-right: 30px;
    }

    .prototype-flex iframe{
        width: 50%;
        margin-right: 30px;
    }

    .flex-img{
        margin-top: 0px;
    }

    .button-flex{
        margin-top: 5px;
        text-align: left;
    }

    /* For the about page */
    .about-header{
        justify-content: center;
    }

    .job img{
        width: 30%;
    }

    .leadership-div img{
        width: 30%;
    }

    /* For the other page */
    .dropbtn{
       width: 80%;
    }

    #large-mockup{
        width: 80%;
    }

    .small-width, .other-hr{
        margin-left: 10%;
        margin-right: 10%;
    }
    
}

@media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
      scroll-behavior: auto; /* Removes scroll animation */
    }
  
    /*Turn off transition*/
    a.skip {
      -webkit-transition: initial; /* sets to default setting */
      transition: initial; /* sets to default setting */
    }
  
    /*Turn off parallax*/
    .typewriter{
        animation: none;
    }
  }

